/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  margin: 5vw;
  font-size: 5vh;
}
h2 {
  font-size: 3vh;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.display-flex-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
footer nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-evenly;
}
footer nav a {
  margin: 20px 20%;
  color: #646464;
}
body {
  color: #646464;
  font-size: 2vh;
  text-align: center;
}
body .background-img {
  width: 100vw;
  height: 60vh;
  background: url("../images/new-pic1.jpg");
  background-size: 100vw 100vh;
}
body .banner-text {
  color: white;
  text-align: center;
}
body nav .button {
  border-radius: 0.6rem;
  font-size: 4vh;
  border: 2px solid white;
  width: 80vw;
  min-width: 20vh;
  height: 6vh;
  padding: 0.8vh 0;
  color: white;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto 2vh;
}
body nav .button:hover {
  background-color: white;
  color: black;
}
body section p {
  margin: 5vw;
  font-size: 3vh;
  line-height: 3rem;
}
body section .img-formating {
  width: 100%;
  height: auto;
}
body section .circle {
  border-radius: 100%;
  display: inline-block;
  height: 5.5em;
  line-height: 5.5em;
  margin: 2em;
  width: 5.5em;
}
body section .coral {
  background-color: rgba(255, 127, 80, 0.712);
}
body section .blue {
  background-color: #3380e6;
}
body section .yellow {
  background-color: #eeeeb2;
}
body section .pink {
  background-color: pink;
}
body section .intro {
  display: flex;
  align-items: center;
  margin: 5vw 10vw;
  border-bottom: 2px solid rgba(202, 186, 186, 0.74);
  height: 35vh;
  font-size: 3vh;
  line-height: 100%;
}
body .member-img {
  margin: 5vw;
  border-radius: 30rem;
  height: 100px;
  width: auto;
}
body .text {
  font-size: 2vh;
}
@media only screen and (min-width: 500px) {
  .section-border {
    border-radius: 0.6rem;
    background-color: white;
  }
  .body-background {
    background-color: rgba(224, 215, 215, 0.74);
  }
  .text-margin {
    margin: 2% 5vw;
  }
  h1 {
    margin: 1vh;
  }
  body section p {
    margin: 1vh;
  }
  body section .intro {
    margin: 1vh;
  }
  body .box-shadow {
    box-shadow: 2px 3px rgba(202, 186, 186, 0.74);
  }
  body .img-bottom-radius {
    border-radius: 0 0 0.6rem 0.6rem;
  }
  body .img-top-radius {
    border-radius: 0.6rem 0.6rem 0 0;
  }
  body .display-wide-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  body .display-body-widescreen {
    width: 90vw;
  }
  body nav .button {
    width: 25vw;
    padding: 0.6rem 0;
    margin: 1vh;
  }
}
@media only screen and (min-width: 1000px) {
  .container {
    margin: 0 auto;
    padding: 2%;
    width: 50%;
    box-sizing: border-box;
  }
  body .background-img {
    background: url("../images/new-pic5.jpg");
    background-size: 100vw 100vh;
  }
  body .display-body-widescreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vw;
    align-items: flex-start;
  }
  body .img-top-radius {
    border-radius: 0;
  }
}
