
@import "reset.less";

//mixin here



.display-flex(@flex-direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: @flex-direction;
}

//css here
.display-flex-column {
    .display-flex(column);
    
}

.text-margin {

}

